body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.wrapper-pic {
    width: 100vw;
    height: 80vh;
    /* justify-content: center;
    align-items: center; */
    background: rgb(0, 0, 0);
}

.map-check {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.profile-pic {
    width: 300px;
    height: 300px;
    /* background-color: azure; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic {
    background: url("./logo/profile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.details {
    height: 100%;
    width: 500px;
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    /* height: 100%; */
}

.min2,
.min3,
.min4,
.min5 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    margin: 1px;
    color: white;
    border: 1px solid;
    word-break: break-all;
}

.min1 {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: aquamarine; */
    margin: 1px;
    color: white;
    border: 1px solid;
    word-break: break-all;
}

@media screen and (max-width: 860px) {
    .wrapper-pic {
        margin-top: 40px;
        height: 100%;
    }
    .min1 {
        height: 100%;
    }
}